@charset "UTF-8";
/* CSS Document */
body{background:#f5f5f5;}
.global{min-height: 600px;}
header{height:44px; line-height: 44px; background:#ec584d; color:#fff; position:relative;}
header h2{text-align: center; font-weight:400; font-size:20px; color:#fff; text-shadow: 0;}
header .back{position:absolute; left:15px; top:10px; width:20px; height:20px; background:url("../pic/icon-back-white.png.html") no-repeat center center; background-size:20px 20px;}
.total{height:150px; background:#ec584d; color:#fff; padding:20px 0 50px; text-align: center;}
.smalltip{margin:0 0 20px;}
.total-income{font-size:14px; color:#f7bcb8;}
.total-num{font-size:70px; line-height:65px; margin:10px 0; font-weight:400;}
.total-leave{font-size:15px;}
.extend-amber{height:52px; line-height: 52px; background:#ec584d; border-top:1px solid #f28983; color:#fff; font-size:14px; text-align: center;}
.amber{display: inline-block; width:15px; height:15px; background:url("../pic/amber.png") no-repeat center center; background-size:15px 15px; margin-right:8px; vertical-align: -3px;}
.extend-amber .btn-goto{margin-left:30px; color:#fff;}
.myresult{height:55px;line-height: 55px; background:#fff; margin-top:10px; padding:0 15px;}
.myresult a{display: block;}
.myresult label{float: left; color: #000; font-size:15px;}
.myresult label .result{display: inline-block; width:20px; height:20px; background:url("../pic/icon-result.png.html") no-repeat center center; background-size:20px 20px; margin-right:5px;
vertical-align: -4px;}
.myresult .more {float:right; width: 20px; height: 55px;background:url("../pic/icon-arrow.png.html") no-repeat center center;background-size: 20px 20px;vertical-align: -3px;}
.extend-content{padding-top:45px;}
.extend-content .btn-extend{display: block; width: 90%; height:44px; line-height: 44px; font-size: 18px; margin: 0 auto; text-align: center; background:#ec584d; border-radius: 5px; color: #fff; margin-bottom:30px;}
.ewm-extend{text-decoration: underline; color:#999; font-size:12px;}
.ewm-extend i{display: inline-block; width: 16px; height: 16px; background:url("../pic/icon-ewm.png.html") no-repeat center center; background-size: 16px 16px;margin-right: 3px;
vertical-align: -4px;}
.ewm-content{width:200px; margin:0 auto; background:#fff;}
.ewm-pic{padding:5px 10px; border-bottom:1px solid #eeeeee;}
.ewm-pic img{display: block; width:100%;}
.ewm-word{height:40px; line-height: 35px; font-size:12px; color:#666; text-align: center;}
.ewm-word i{display: inline-block; width:12px; height:12px; background:url("../pic/icon-download.png") no-repeat center center; background-size:12px 12px; margin-right:5px; vertical-align: -1px;}
.leave-time{padding:0 15px; height:44px; line-height: 44px; margin-top:5px; color:#333;}
.leave-time .text1{padding:5px;}
.order{color:#333;}
.order .order-tip{padding:0 15px; line-height:44px;}
.order .order-tip span{color:#ec584d;}
.order-content{background: #fff; padding:10px 15px; line-height: 30px;}
.fr{float:right;}
.authen-content{margin: 80px 20px 0px 20px;}
.authen-item{width:100%; display: flex; flex-direction: row; align-items: center; margin-bottom:10px; border-bottom:1px solid #ebebeb;}
.authen-item input{border:none; background:none;}
.phoneinput {width: 100%;padding: 5px 10px;height:30px;line-height: 30px;font-size: 14px;}
.codeinput {width: 100%;flex:1;height:30px;line-height: 30px;padding: 5px 10px;font-size: 14px;}
.vcodebtn {font-size:13px;color:#ec584d;border-radius: 0;margin:0 10px;background-color: #fff;}
.btn-authen {display: block; border:none; width:100%;height:40px;line-height: 40px;background:#ec584d;color:#fff;font-size:15px; border-radius: 5px; margin:30px auto 0;}
.extend-ewm{width:300px; margin:100px auto 20px;}
.extend-ewm img{display: block; width:100%;}
@media(max-width: 800px){
.total{padding:40px 0;}
.ewm-content{width:160px; margin:0 auto; background:#fff;}	
	.extend-ewm{width:70%;}
}
